In [16]:
import json
import pandas as pd
from snowflake.snowpark import *
from snowflake.snowpark import version
from snowflake.snowpark.functions import *

connection_parameters = json.load(open('connection.json'))
session = Session.builder.configs(connection_parameters).create()

session.sql("create or replace database credit_bank").collect()
session.sql("use schema credit_bank.public").collect()
print(session.sql("select current_warehouse(), current_database(), current_schema(), current_user(), current_role()").collect())

[Row(CURRENT_WAREHOUSE()='DEV_WH', CURRENT_DATABASE()='CREDIT_BANK', CURRENT_SCHEMA()='PUBLIC', CURRENT_USER()='ARTI6076', CURRENT_ROLE()='ACCOUNTADMIN')]

In [17]:
credit_files = pd.read_csv(r'C:\Users\Arti\Documents\GitHub\ML-model-Credit-scoring-with-Snowpark-\input files\credit_files.csv')
session.write_pandas(credit_files,"CREDIT_FILES",auto_create_table='True')

c:\Users\Arti\AppData\Local\Programs\Python\Python311\Lib\site-packages\snowflake\connector\pandas_tools.py:300: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  [pandas.api.types.is_datetime64tz_dtype(df[c]) for c in df.columns]

In [18]:
credit_df = session.table("CREDIT_FILES")
credit_df.schema

StructType([StructField('CREDIT_REQUEST_ID', LongType(), nullable=True), StructField('CREDIT_AMOUNT', LongType(), nullable=True), StructField('CREDIT_DURATION', LongType(), nullable=True), StructField('PURPOSE', StringType(16777216), nullable=True), StructField('INSTALLMENT_COMMITMENT', LongType(), nullable=True), StructField('OTHER_PARTIES', StringType(16777216), nullable=True), StructField('CREDIT_STANDING', StringType(16777216), nullable=True), StructField('CREDIT_SCORE', LongType(), nullable=True), StructField('CHECKING_BALANCE', DoubleType(), nullable=True), StructField('SAVINGS_BALANCE', DoubleType(), nullable=True), StructField('EXISTING_CREDITS', LongType(), nullable=True), StructField('ASSETS', StringType(16777216), nullable=True), StructField('HOUSING', StringType(16777216), nullable=True), StructField('QUALIFICATION', StringType(16777216), nullable=True), StructField('JOB_HISTORY', LongType(), nullable=True), StructField('AGE', LongType(), nullable=True), StructField('SEX', StringType(16777216), nullable=True), StructField('MARITAL_STATUS', StringType(16777216), nullable=True), StructField('NUM_DEPENDENTS', LongType(), nullable=True), StructField('RESIDENCE_SINCE', LongType(), nullable=True), StructField('OTHER_PAYMENT_PLANS', StringType(16777216), nullable=True)])

In [19]:
credit_df.toPandas().head()

,CREDIT_REQUEST_ID,CREDIT_AMOUNT,CREDIT_DURATION,PURPOSE,INSTALLMENT_COMMITMENT,OTHER_PARTIES,CREDIT_STANDING,CREDIT_SCORE,CHECKING_BALANCE,SAVINGS_BALANCE,...,ASSETS,HOUSING,QUALIFICATION,JOB_HISTORY,AGE,SEX,MARITAL_STATUS,NUM_DEPENDENTS,RESIDENCE_SINCE,OTHER_PAYMENT_PLANS
0,147,8600,6,Vehicle,1,None,good,466,-728.12,17.0,...,None,own,skilled,15,39,F,Married,1,4,none
1,248,12040,6,Vehicle,4,None,good,202,0.00,2443.0,...,None,rent,skilled,1,35,M,Single,1,1,bank
2,112,3920,15,Tuition,4,None,good,736,4696.00,143.0,...,Investments,rent,skilled,1,23,F,Married,1,4,none
3,222,12000,12,Tuition,4,None,good,732,-25.35,0.0,...,Investments,rent,skilled,3,23,F,Married,1,4,bank
4,162,10550,18,Vehicle,4,None,good,507,0.00,510.0,...,Investments,own,skilled,1,30,F,Married,1,1,none

In [20]:
credit_df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CREDIT_REQUEST_ID       2940 non-null   int16
 1   CREDIT_AMOUNT           2940 non-null   int32
 2   CREDIT_DURATION         2940 non-null   int8
 3   PURPOSE                 2940 non-null   object
 4   INSTALLMENT_COMMITMENT  2940 non-null   int8
 5   OTHER_PARTIES           271 non-null    object
 6   CREDIT_STANDING         2940 non-null   object
 7   CREDIT_SCORE            2940 non-null   int16
 8   CHECKING_BALANCE        2940 non-null   float64
 9   SAVINGS_BALANCE         2940 non-null   float64
 10  EXISTING_CREDITS        2940 non-null   int8
 11  ASSETS                  2489 non-null   object
 12  HOUSING                 2940 non-null   object
 13  QUALIFICATION           2940 non-null   object
 14  JOB_HISTORY             2940 non-null   int8
 15  AGE                     2940 non-null   int8
 16  SEX                     2940 non-null   object
 17  MARITAL_STATUS          2940 non-null   object
 18  NUM_DEPENDENTS          2940 non-null   int8
 19  RESIDENCE_SINCE         2940 non-null   int8
 20  OTHER_PAYMENT_PLANS     2940 non-null   object
dtypes: float64(2), int16(2), int32(1), int8(7), object(9)
memory usage: 295.9+ KB

In [21]:
credit_requests = pd.read_csv(r'C:\Users\Arti\Documents\GitHub\ML-model-Credit-scoring-with-Snowpark-\input files\credit_request.csv')
session.write_pandas(credit_requests,"CREDIT_REQUESTS",auto_create_table='True')

c:\Users\Arti\AppData\Local\Programs\Python\Python311\Lib\site-packages\snowflake\connector\pandas_tools.py:300: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  [pandas.api.types.is_datetime64tz_dtype(df[c]) for c in df.columns]

In [22]:
credit_req_df = session.table("CREDIT_REQUESTS")
credit_req_df.schema

StructType([StructField('CREDIT_REQUEST_ID', LongType(), nullable=True), StructField('CREDIT_AMOUNT', LongType(), nullable=True), StructField('CREDIT_DURATION', LongType(), nullable=True), StructField('PURPOSE', StringType(16777216), nullable=True), StructField('INSTALLMENT_COMMITMENT', LongType(), nullable=True), StructField('OTHER_PARTIES', StringType(16777216), nullable=True), StructField('CREDIT_SCORE', LongType(), nullable=True), StructField('CHECKING_BALANCE', DoubleType(), nullable=True), StructField('SAVINGS_BALANCE', DoubleType(), nullable=True), StructField('EXISTING_CREDITS', LongType(), nullable=True), StructField('ASSETS', StringType(16777216), nullable=True), StructField('HOUSING', StringType(16777216), nullable=True), StructField('QUALIFICATION', StringType(16777216), nullable=True), StructField('JOB_HISTORY', LongType(), nullable=True), StructField('AGE', LongType(), nullable=True), StructField('SEX', StringType(16777216), nullable=True), StructField('MARITAL_STATUS', StringType(16777216), nullable=True), StructField('NUM_DEPENDENTS', LongType(), nullable=True), StructField('RESIDENCE_SINCE', LongType(), nullable=True), StructField('OTHER_PAYMENT_PLANS', StringType(16777216), nullable=True)])